body{
    margin: 0;
    padding: 0;
    background-color: #555bfe;
    background-image: radial-gradient(#3c3c3c 1px, #555bfe 1px);
    background-size: 20px 20px;
}


.fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-up.visible {
    opacity: 1;
    transform: translateY(0);
}



/*header*/
header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 130px;
    z-index: 100;
    flex-direction: column;
}
@media(min-width: 601px){
    header{
        display: flex;
        flex-direction: row;
        height: 100px;
    }
    header nav{
        margin: 0 0 0 auto;
    }
}

header nav{
    display: flex;
    justify-content: center;
}
header ul{
    display: flex;
    margin: 10px 10px;
    padding: 0;
}
header ul li{
    margin: 0 15px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px;
}
header ul li a:hover{
    color: #fdf225;
    transition: color 0.4s;
}

/*hero*/
.g-box{
    z-index: 100;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 600px;
  opacity: 0.3;
  background-image:  linear-gradient(#444444 1.4px, transparent 1.4px), linear-gradient(to right, #444444 1.4px, rgba(230, 230, 247, 0) 1.4px);
  background-size: 33.2px 33.2px;
}
@media(max-width: 600px){
    .g-box{
    width: 100%;
    }
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    width: 200%;
    height: 3066px;
    background-color: rgb(192, 192, 192);
    animation: slideIn 2s forwards;
    z-index: 999;
}
@media(max-width: 600px){
    .slider {
        height: 5037px;
    }
}

@keyframes slideIn {
    0% {
        right: -10%;
    }
    100% {
        right: 100%;
    }
}


@keyframes slideIn-m{
    0% {
        transform: translateY(70%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.text-h, .text-h2, .text-h3, .text-h4{
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.text-h2{
    position: absolute;
    top: 40%;
}
.text-h3{
    position: absolute;
    top: 50%;
    opacity: .7;
}
.text-h4{
    position: absolute;
    top: 57%;
    opacity: .4;
}

.text-h h1{
    font-size: 5rem;
    animation: slideIn-m 2s ease-out;
    color: white;
}
.text-h2 h1, .text-h3 h1, .text-h4 h1{
    font-size: 5rem;
    animation: slideIn-m 2s ease-out;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}


@font-face {
    font-family: Makinas-4;
    src: url(makinas4/Makinas-4-Flat.otf);
  }


.img-wrap {
    overflow: hidden;
    position: relative;
  }
  .img-wrap img{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    object-fit: cover;
    object-position: 50% 25%;
    z-index: 1;
    filter: grayscale(50%);
  }
  
  .cover1,
  .cover2,
  .cover3 {
    animation: cover 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    background: rgb(192, 192, 192);
    height: calc(100% / 3);
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    z-index: 1;
  }
  
  .cover1 {
    top: 0;
  }
  
  .cover2 {
    animation-delay: 0.2s;
    top: calc(100% / 3);
  }
  
  .cover3 {
    animation-delay: 0.4s;
    top: calc(100% / 3 * 2);
  }
  
  @keyframes cover {
    100% {
      transform: translateX(100%);
    }
  }
  
  



/*profile*/
.M{
   position: relative;
   top: 200px;
   left: 50%;
   transform: translateX(-50%);
    width: 60%;
    max-width: 700px;
    min-width: 290px;
    height: 750px;
    background-color: rgb(189, 189, 189);
}
.M{
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeInAnime{
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }

.M .P{
    position: relative;
    top: -170px;
    right: 0;
}
.profile .p1{
    color: rgb(84, 84, 84);
  position: absolute;
  top: 30px;
  left: 13%;
}
.profile .p1 h2{
    margin-left: -10px;
    margin-bottom: 270px;
    border-bottom: #808080 solid;
    font-family: Makinas-4;
}
.profile .icon{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #303030;
}

.profile .p1 .ppp{
    font-size: 18px;
}
.profile .p1-2 .ppp2{
    font-size: 15px;
}

.profile .p2 .i1{
    width: 60px;
 height: 60px;
 position: absolute;
 bottom: 5%;
 right: 27%;
 margin-right: 70px;
 transition: transform .2s ease;
}
.profile .p2 .i1:hover{
    transform:scale(1.1,1.1);
}
.profile .p2 .i2{
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 6.5%;
    right: 27%;
    transition: transform .2s ease;
   }
.profile .p2 .i2:hover{
    transform:scale(1.1,1.1);
}

@media(min-width: 730px){
    .M{
        height: 430px;
    }
    .profile .icon{
        height: 200px;
        width: 200px;
        position: absolute;
        top: 115px;
        left: 75%;
        transform: translateX(-50%);
        background-color: #303030;
    }
    .profile .p1 h2{
        margin-bottom: 0px;
    }    
    .profile .p2 .i1{
     position: absolute;
     bottom: 2%;
     right: 4%;
     margin-right: 70px;
    }
    .profile .p2 .i2{
        position: absolute;
        bottom: 5%;
        right: 4%;
       }
}

/**/
.black{
    margin-top: 350px;
}
.black .box{
    width: 100%;
    height: 500px;
    background-color: #282828;
    background-image:  linear-gradient(#444444 1.4px, transparent 1.4px), linear-gradient(to right, #444444 1.4px, rgba(230, 230, 247, 0) 1.4px);
    background-size: 80px 80px;
    background-attachment: fixed;
    margin-top: 100px;
    z-index: -1;
}
.black .box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.black .box p{
    color: rgba(255, 255, 255, 0.773);
    font-size: 20px;
    text-align: center;
    line-height: 2.3em;
}

@media(max-width: 600px){
    .black .box p{
        font-size: 15px;
    }
}


/*work*/
.work{
    margin-top: 100px;
}
.work h1{
    text-align: center;
    color: white;
    border-bottom: #ffffff solid;
    padding: 10px;
    margin: 0 40%;
    font-size: 30px;
    font-family: Makinas-4;
}
.work p{
    text-align: center;
    color: #ffffff;
    margin-bottom: 60px;
}


.work .content .Z{
    margin: 0 100px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.i-box{
    overflow:hidden;
    height: 450px;
    margin: 0 10px;
}
.work .content img{
    width: 250px;
    height: 450px;
    object-fit: cover;
    transition: transform .3s ease;
}
.work .content img:hover{
    transform:scale(1.15,1.15);
    opacity: 0.9;
    filter: blur(.6px);
}

.work .content .Zr{
    object-position: 85%;
}
.content p span{
    color: #fdf225;
}



.botton{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.botton a{
    text-decoration: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: .7em 2em;
    font-size: 15px;
    transition: .3s;
}
.botton a:hover{
    border: 1px solid #fdf225;
    background-color: #fdf225;
    color: rgb(78, 66, 255);
}



/*footer*/
footer{
    margin-top: 200px;
    height: 130px;
    width: 100%;
    border-top: #282828 solid 1px;
    text-align: center;
}
footer p{
    margin: 0;
    color: #2a2a2a;
    font-size: 15px;
}
footer div{
    padding-top: 60px;
}
footer .f1{
    width: 36px;
    height: 36px;
    margin: 0 10px;
    transition: transform .2s ease;
}
footer .f1:hover{
    transform:scale(1.1,1.1);
}
footer .f2{
    width: 27px;
    height: 27px;
    margin: 0  10px 6px 10px;
    transition: transform .2s ease;
}
footer .f2:hover{
    transform:scale(1.1,1.1);
}